body{background:url(../img/candadito.jpg)no-repeat;
background-size:auto;
} 


p {
    font-size: x-large;
  }
  .offsetinput{
position: relative;
top: ;
botom:;
reight:;
left:400px ;

  }
*{
    margin: 0%;
    padding:1%;

}

#message, #result{width: 500px;
    height: 200px;
    display:block;
    margin: 40px;
    border: #bdbdbd solid 2px;
    justify-content: center;
    margin: 0;
}

#code,#encode{
  margin-left: 150px;
  width: 80px;
  height: 30px;
  background-color:rgb(192, 136, 218);
  color: #212121;
  border-radius: 5px;

}

